body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    text-align: center;
}

h1 {
    background: #2c3e50;
    color: white;
    padding: 15px;
}

.card {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}